.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/D519CB59/sources/prop/5C1CC0DF
.Rproj.user/D519CB59/sources/prop/E7AAF622
.Rproj.user/D519CB59/viewer-cache/2F69EBA7.Rdata
.Rproj.user/shared/notebooks/28C88E30-Jenkins-Resume-A/1/D519CB59C3BD4CCC/chunks.json
.Rproj.user/shared/notebooks/28C88E30-Jenkins-Resume-A/1/s/chunks.json
.Rproj.user/shared/notebooks/8709D404-Ch 2/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
